# === Зависимости ===
node_modules/

# === Сборка ===
dist/

# === Emscripten-генерация ===
src/wasm/*.js
src/wasm/*.wasm
*.js.map

# === ОС ===
.DS_Store
Thumbs.db

# === VS Code ===
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

public/datasets/*